
.card-container {
    
    width: 100%;
    margin-bottom: 5rem;
}

.img-container {
    width: 100%;
    background-color: white;
}

.image-set {
    width: 100%;
}
.text-container{
    background-color: white;
}

.title-show {
    margin-bottom: 2rem;
}

.btn-div {
    text-align: start;
    margin-bottom: 2rem;
}
.btn{
    color: red;
    cursor: pointer;
}
.only-text {
    text-align: start;
    font-weight: 700;
}

.date {
    margin-top: 2rem;
    color: blue;
}

